body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: white;
    text-align: center;
}

.menu-container {
    max-width: 900px;
    margin: 40px auto;
    background-color: #111;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

header {
    margin-bottom: 40px;
}

.section-title {
    background-color: #ffa500;
    color: black;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.section-title:hover {
    background-color: #ff8500;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #444;
}

.menu-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 15px;
}


.dropdown-content {
    display: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
}

.dropdown-content.show {
    display: block;
    max-height: 1000px; 
}


@media (max-width: 768px) {
    .menu-container {
        width: 95%;
        padding: 20px;
    }

    .menu-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 1.3em;
    }
}
